<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apple.alfred.workflow.timezoneconverter</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1A1938C9-D7BF-4E9F-B0CC-B4099AB87300</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E46F6C2-B0D3-4EC4-A976-8DE5E98356A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E46F6C2-B0D3-4EC4-A976-8DE5E98356A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4135B2B0-1BFD-4B4C-BD98-D9CC54E76787</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5157403B-F62B-4051-B5AD-D92298499E0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51D941B4-A9A4-42F9-A6F8-E042E18D4E1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51D941B4-A9A4-42F9-A6F8-E042E18D4E1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66449BBE-0DF6-4575-95A2-26E299B15AA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>568FAFC6-2231-4348-A8D7-8393885FA1C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A1938C9-D7BF-4E9F-B0CC-B4099AB87300</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66449BBE-0DF6-4575-95A2-26E299B15AA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A613166F-B854-42D3-AF13-D77ECD70E938</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A026A39-9AE3-4F71-B20F-2F62D2189C0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>568FAFC6-2231-4348-A8D7-8393885FA1C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A613166F-B854-42D3-AF13-D77ECD70E938</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A026A39-9AE3-4F71-B20F-2F62D2189C0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Convert Timezones</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TimeZone Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Result was copied to the Cliboard</string>
				<key>title</key>
				<string>TimeZone Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4135B2B0-1BFD-4B4C-BD98-D9CC54E76787</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>run script "show.scpt" with parameters "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A1938C9-D7BF-4E9F-B0CC-B4099AB87300</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>tzone</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching for {query}...</string>
				<key>script</key>
				<string>run script "tzone.scpt" with parameters "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter location of origin</string>
				<key>title</key>
				<string>Convert Timezones</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51D941B4-A9A4-42F9-A6F8-E042E18D4E1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	set theQuery to "{query}"
	if theQuery contains "➣" then
		tell application "Alfred 3" to run trigger ".tzone" in workflow "com.apple.alfred.workflow.timezoneconverter" with argument theQuery
	else
		return theQuery
	end if
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>66449BBE-0DF6-4575-95A2-26E299B15AA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n $(date  +"%k:%M")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>568FAFC6-2231-4348-A8D7-8393885FA1C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>.tzone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5157403B-F62B-4051-B5AD-D92298499E0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2E46F6C2-B0D3-4EC4-A976-8DE5E98356A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A613166F-B854-42D3-AF13-D77ECD70E938</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>converted</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A026A39-9AE3-4F71-B20F-2F62D2189C0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>TimeZone Converter for Alfred
=============================

Converts time from one location to destination

Requires: 
=========
- JSON Helper from Mousedown: http://www.mousedown.net/mouseware/JSONHelper.html
- API Key from: http://api.timezonedb.com/
- Google API Key: https://developers.google.com/maps/documentation/javascript/get-api-key?hl=en</string>
	<key>uidata</key>
	<dict>
		<key>1A1938C9-D7BF-4E9F-B0CC-B4099AB87300</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>2E46F6C2-B0D3-4EC4-A976-8DE5E98356A3</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>4135B2B0-1BFD-4B4C-BD98-D9CC54E76787</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>5157403B-F62B-4051-B5AD-D92298499E0C</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>51D941B4-A9A4-42F9-A6F8-E042E18D4E1D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>568FAFC6-2231-4348-A8D7-8393885FA1C8</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>66449BBE-0DF6-4575-95A2-26E299B15AA0</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>9A026A39-9AE3-4F71-B20F-2F62D2189C0D</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A613166F-B854-42D3-AF13-D77ECD70E938</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GoogleAPIKey</key>
		<string>AIzaSyDNVbjXp8k5UQ0xyokZGyhvgEh_UEhjZMk</string>
		<key>TranslatorDBAPIKey</key>
		<string>N8EWF21RK64R</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GoogleAPIKey</string>
		<string>TranslatorDBAPIKey</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
